*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h5,
h6,
p {
  margin: 0;
}

hr {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background-color: #2a2f33;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
