@import './utils/fonts';
@import './base';
@import './utils/variables';

@import './components/button';
@import './components/select';

@import './layouts/_abonamentyFitlife-section';
@import './layouts/container';
@import './layouts/data-section';
@import './layouts/_dlaczego-section';
@import './layouts/dlugosc-section';
@import './layouts/dolacz-section';
@import './layouts/_footer';
@import './layouts/galeria-section';
@import './layouts/header';
@import './layouts/hero-section';
@import './layouts/jakdziala-section';
@import './layouts/kalkulator-section';
@import './layouts/licznik-section';
@import './layouts/_opinie-section';
@import './layouts/price-section';
@import './layouts/rezerwacja-section';
@import './layouts/_uslugi-section';
@import './layouts/naszeUslugi-section';
@import './layouts/uslugiFitlife-section';
@import './layouts/uslugiWybor-section';
@import './layouts/zaloguj-section';
@import './layouts/_zarezerwuj-section';
