:root {
  --color-primary-dark: #0b0f10;
  --color-primary-normal: #101418;
  --color-primary-dark-gray: #151e21;
  --color-brand-orange: #ff6a35;
  --color_button-gray: #b4b9bd;
  --color-hr-gray: #d9d9d9;
  --color-button: #1d2c31;
}
