.user-menu {
  &__btn {
    background: var(--color-button);
    color: black;
    border: none;
    border-radius: 50px;
    transition: transform 0.5s ease;
  }

  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &__icon {
    fill: currentColor;
  }
}
