.user-menu {
  position: relative;

  &__dropdown {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: var(--color-primary-dark-gray);
    top: 110%;
    border: 1px solid black;
    border-radius: 16px;
    min-width: 150px;
    transform: translateX(20px);
    padding: 10px 10px;
    display: none;
  }

  .user-menu__dropdown.show {
    display: flex;
    opacity: 1;
  }

  &__dropdown a {
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  &__dropdown a:hover {
    color: var(--color-brand-orange);
  }
}
