.dlaczego-section {
  background-color: var(--color-primary-normal);
  padding: 0 95px 0 95px;

  &__title {
    padding: 0 0 32px 0;
    font-size: 40px;
    font-weight: 600;
  }

  &__list {
    display: flex;
    gap: 35px;
    padding: 0 0 32px 0;
  }

  &__btn {
    background-color: var(--color-primary-dark-gray);
    border: 1px solid black;
    border-radius: 16px;
    color: white;
    width: 401px;
    height: 250px;
    transition: transform 0.5s ease;
  }

  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &__btn img {
    display: flex;
    width: 173px;
    height: 150px;
  }

  &__info {
    display: flex;
  }

  &__info h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: 24px;
    font-weight: 600;

    &__btn p {
      font-family: Inter, sans-serif;
      display: flex;
      justify-content: center;
      font-size: 16px;
      font-weight: 400;
    }
  }
}
