.dlugosc-section {
  background-color: var(--color-primary-normal);

  &__title {
    display: flex;
    justify-content: center;
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-weight: 600;
    padding-bottom: 72px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 35px;
    padding-bottom: 55px;
  }

  &__btn {
    width: 250px;
    height: 70px;
    background-color: var(--color-primary-dark-gray);
    border: 1px solid black;
    border-radius: 16px;
    color: white;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: transform 0.5s ease;
  }

  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
