.dolacz-section {
  background-color: var(--color-primary-normal);
  padding: 32px 0 33px 0;

  &__fitlife {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 49px;
    padding: 0 70px;
    background-color: var(--color-brand-orange);
    width: 1272px;
    height: 146px;
    border: none;
    border-radius: 16px;
  }

  &__title {
    font-size: 40px;
    font-weight: 600;
  }

  &__btn {
    background-color: var(--color_button-gray);
    width: 300px;
    height: 70px;
    color: white;
    font-size: 23px;
    font-weight: 600;
    border: none;
    border-radius: 16px;
    transition: transform 0.5s ease;
  }

  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
