.jakdziala-section {
  background-color: var(--color-primary-normal);

  &__container h1,
  h3 {
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-weight: 600;
  }

  &__container p {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
  }

  &__container h1,
  p,
  h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }

  &__result {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 170px;
    background-color: var(--color-primary-dark-gray);
    border: 1px solid black;
    border-radius: 16px;
  }

  &__item h2 {
    font-family: Poppins, sans-serif;
    font-size: 39px;
    font-weight: 600;
  }
}
