.kcal-result {
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: white;

  &__kcal {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 30px;
    color: var(--color-brand-orange);
  }

  &__list {
    list-style: none;
    width: 100%;

    li {
      display: flex;
      justify-content: space-between;
      font-size: 22px;
      padding: 10px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      span {
        font-weight: 600;
      }
    }
  }
}
