.modal {
  &-section__abonamenty {
    position: fixed;
    inset: 0;
    background-color: var(--color-primary-dark-gray);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  &-content {
    background-color: var(--color-primary-dark-gray);
    width: 400px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 16px;
    text-align: center;
  }

  &-content h2 {
    font-family: Poppins, sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__btn {
    width: 150px;
    height: 50px;
    background-color: var(--color-brand-orange);
    border: none;
    border-radius: 16px;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    transition: transform 0.5s ease;
  }

  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
