.price-section {
  background-color: var(--color-primary-normal);

  &__list {
    display: flex;
    justify-content: center;
    padding: 72.5px 0;
    gap: 35px;
  }

  &__item {
    background-color: var(--color-primary-dark-gray);
    border: 1px solid black;
    border-radius: 16px;
    width: 400px;
    height: 555px;
  }

  &__pole {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    padding-top: 45.5px;
  }

  &__cena {
    margin-top: 15px;
  }

  &__title,
  &__cena {
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-weight: 600;
  }

  &__info {
    display: flex;
    align-items: center;
    padding-left: 40px;
    text-align: left;
    width: 100%;
  }

  &__info + &__info {
    margin-top: 54px;
  }

  &__info p {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  &__button {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  &__btn {
    width: 240px;
    height: 55px;
    background-color: var(--color-brand-orange);
    border: none;
    border-radius: 16px;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 500;
    transition: transform 0.5s ease;
  }

  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
