.uslugiFitlife-section {
  background-color: var(--color-primary-normal);

  &__title {
    display: flex;
    justify-content: center;
    padding: 100px;
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 100px;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 350px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: var(--color-primary-dark-gray);
    color: white;
    transition: transform 0.5s ease;
  }

  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &__btn img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }

  &__btn h3 {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 58px;
  }

  &__btn p {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 auto;
    width: 198px;
  }
}
