.uslugiWybor-section {
  background-color: var(--color-primary-normal);

  &__container {
    display: flex;
    justify-content: center;
    padding: 65px 0;
  }

  &__list {
    display: flex;
    gap: 35px;
  }

  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-primary-dark-gray);
    border: 1px solid black;
    border-radius: 16px;
    color: white;
    width: 360px;
    height: 370px;
    transition: transform 0.5s ease;
  }

  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &__btn img {
    width: 150px;
    height: 150px;
    margin: 20px 0;
  }

  &__btn h3 {
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 57px;
  }

  &__btn p {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
}
