.account-section {
  height: 800px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/hero-uslugi.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0 auto;
    background-color: var(--color-primary-dark-gray);
    width: 550px;
    height: 650px;
    border: 1px solid black;
    border-radius: 16px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__form input {
    width: 500px;
    height: 70px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 16px;
    background-color: var(--color-button);
    padding: 0 30px;
    color: white;
  }

  &__form input::placeholder {
    color: white;
  }

  &__pierwsza {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__pierwsza h1 {
    padding-right: 61px;
    margin-top: -20px;
  }

  &__pierwsza img {
    width: 250px;
    height: 139px;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__btn {
    width: 500px;
    height: 70px;
    background-color: var(--color-brand-orange);
    border: none;
    border-radius: 16px;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 500;
    transition: transform 0.5s ease;
  }

  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  &__form a {
    display: flex;
    justify-content: center;
    padding: 70px;
  }
}
