.zarezerwowane-section {
  background-color: var(--color-primary-normal);
  height: auto;

  display: flex;
  flex-direction: column;

  &__empty {
    font-family: Poppisn, sans-serif;
    font-size: 25px;
    font-weight: 600;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 35px;
    font-weight: 600;
    padding: 0 0 100px 150px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-primary-dark-gray);
    width: 1400px;
    height: 130px;
    border: 1px solid black;
    border-radius: 16px;
    margin-bottom: 40px;
  }

  &__left {
    display: flex;
  }

  &__item img {
    padding-left: 60px;
  }

  &__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-left: 30px;
  }

  &__data h2 {
    font-family: Poppons, sans-serif;
    font-size: 30px;
    font-weight: 600;
  }

  &__data p {
    white-space: nowrap;
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-weight: 400;
  }

  &__item .zarezerwowane-section__button {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-right: 60px;
    width: 120px;
    height: 60px;
    background-color: var(--color-brand-orange);
    border: none;
    border-radius: 16px;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-weight: 600;
    transition: transform 0.5s ease;
  }

  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
