.zarezerwuj-section {
  background-color: var(--color-primary-normal);

  &__fitlife {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-brand-orange);
    width: 100%;
    height: 300px;
    padding: 0 100px;
  }

  &__title {
    font-family: Poppins, sans-serif;
    font-size: 36px;
    font-weight: 700;
    width: 449px;
  }

  &__btn {
    width: 342px;
    height: 100px;
    background-color: var(--color_button-gray);
    border: none;
    border-radius: 16px;
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 23px;
    font-weight: 600;
    transition: transform 0.5s ease;
    color: white;
  }

  &__btn:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}
